* {
  margin: 0;
  padding: 0;
}

#ui-container {
  width: 600px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

#display-container {
  border: 1px solid black;
  border-radius: 10px;
  height: 75px;
  padding: 5px;

  font-size: 40px;
  text-align: right;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 50px;
}
